.idea-grid.block {
  margin-top: 16px;
}

.idea-grid.block .pi-idea-grid-inner {
  column-count: 5;
  column-gap: 16px;
}

@media (max-width: 1400px) {
  .idea-grid.block .pi-idea-grid-inner {
    column-count: 4;
  }
}

@media (max-width: 1100px) {
  .idea-grid.block .pi-idea-grid-inner {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .idea-grid.block .pi-idea-grid-inner {
    column-count: 2;
  }
}

@media (max-width: 520px) {
  .idea-grid.block .pi-idea-grid-inner {
    column-count: 1;
  }
}
