.idea-grid.block {
  margin-top: 16px;
}

.idea-grid.block .pi-idea-grid-inner {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 16px;
}

@media (width >= 900px) {
  .idea-grid.block .pi-idea-grid-inner {
    gap: 24px;
  }
}
